/* carousel responsiveness only */
/* for small devices */
@media only screen and (max-width: 575.98px) {
    .carousel-caption strong {
        font-size: 15px;
    }

    .carousel-caption p {
        font-size: 7px;
    }

    .custom-class {
        flex-direction: column;
    }

}

/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .carousel-caption strong {
        font-size: 30px;
    }

    .carousel-caption p {
        font-size: 10px;
    }

    .custom-class {
        flex-direction: column;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .carousel-caption strong {
        font-size: 35px;
    }

    .carousel-caption p {
        font-size: 15px;
    }

    .custom-class {
        flex-direction: column;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 769px) and (max-width: 1200px) {

    .carousel-caption strong {
        font-size: 40px;
    }

    .carousel-caption p {
        font-size: 20px;
    }
}

/* courses section resposnsive for only small devices */
@media only screen and (max-width: 767.98px) {
    .custom-image {
        width: 100%;
    }
}

/* carousel headline text spacing and aligning for lg device only */
@media only screen and (min-width: 769px) {
    .custom-made-class {
        position: relative;
        top: -350px;
        left: -1px;
    }

    .main-section-class {
        position: relative;
        top: -180px;
    }
}